# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.NapoleonChallengeEmailingBot.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\jamid\source\repos\NapoleonChallengeEmailingBot\.idea\.idea.NapoleonChallengeEmailingBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
